<% provide(:title, "Home") %>

<div class="jumbotron" style="background-image: url('http://cdn.cultofmac.com/wp-content/uploads/2012/07/flag.jpg');">
  <h1>Time to fight Communism</h1>
  <p>The red menace shall fall</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  <link rel="stylesheet" href="custom.css.scss">
</div>
