<% provide(:title, "Home") %>

<div class="jumbotron" style="background-image: url('http://digitalart.io/wp-content/uploads/2013/06/ben_franklin_vs__zeus_by_sharpwriter.jpg');">
  <h1>Time to fight Communism</h1>
  <p>The red menace shall fall</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  <link rel="stylesheet" href="custom.css.scss">
</div>